.vercel

# Termux / OS
.DS_Store
*.log
*.pid
.tmp/

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Rust (DO NOT COMMIT REGISTRY)
.cargo/registry/
.cargo/git/
target/

# Caches
.cache/
